<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597768055499-n5620r5g2j22ppd0u6a254t9jj03sgl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597768055499-n5620r5g2j22ppd0u6a254t9jj03sgl5</string>
	<key>API_KEY</key>
	<string>AIzaSyDMt6jrFL8nOYd88faHPoENZM77aBbeais</string>
	<key>GCM_SENDER_ID</key>
	<string>597768055499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HasanDag.Mobiroller-Firebase-Collection-E-Commertion</string>
	<key>PROJECT_ID</key>
	<string>mobiroller-bfe2a</string>
	<key>STORAGE_BUCKET</key>
	<string>mobiroller-bfe2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597768055499:ios:f12b301816ec49b1d3c94e</string>
</dict>
</plist>